.portfolio-header .mdl-layout__header,
.portfolio-header a {
  color: white;
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.personal-info-row {
  min-height: 350px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px;
}

.is-compact .personal-info-row {
  min-height: auto;
  margin: 0px;
  padding: 0px;
}

.personal-info-content {
  width: 100%;
  text-align: center;
}

.is-compact .personal-info-content {
  height: 100%;
}

.headshot {
  height: 150px;
  width: 150px;
  border-radius: 75px;
}

.is-compact .headshot {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-top: 7px;
}

.is-small-screen .is-compact .headshot {
  margin-top: 3px;
}

.is-compact .personal-info-text {
  display: none;
}

.personal-info-title {
  font-size: 44px;
  font-weight: 300;
}

.portfolio-social a {
  margin: 10px;
}

.portfolio-footer {
  padding: 10px 10px;
  background-color: #424242;
}

.portfolio-simple-footer {
  width: 100%;
  text-align: center;
}

.portfolio-simple-footer p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.1;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

img.article-image {
  width: 100%;
  height: auto;
}
