<header class="mdl-layout__header">
  <div class="mdl-layout__header-row mdl-layout--large-screen-only">
    <span class="mdl-layout-title">{{ with .Site.Params.header.title }}{{ . }}{{ end }}</span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link is-active" href="index.html">{{ with .Site.Params.header.nav.portfolio }}{{ . }}{{ end }}</a>
      <a class="mdl-navigation__link" href="blog.html">{{ with .Site.Params.header.nav.blog }}{{ . }}{{ end }}</a>
      <a class="mdl-navigation__link" href="about.html">{{ with .Site.Params.header.nav.about }}{{ . }}{{ end }}</a>
      <a class="mdl-navigation__link" href="contact.html">{{ with .Site.Params.header.nav.contact }}{{ . }}{{ end }}</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <span class="mdl-layout-title">{{ with .Site.Params.header.title }}{{ . }}{{ end }}</span>
  <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
    <a class="mdl-navigation__link is-active" href="index.html">{{ with .Site.Params.header.nav.portfolio }}{{ . }}{{ end }}</a>
    <a class="mdl-navigation__link" href="blog.html">{{ with .Site.Params.header.nav.blog }}{{ . }}{{ end }}</a>
    <a class="mdl-navigation__link" href="about.html">{{ with .Site.Params.header.nav.about }}{{ . }}{{ end }}</a>
    <a class="mdl-navigation__link" href="contact.html">{{ with .Site.Params.header.nav.contact }}{{ . }}{{ end }}</a>
  </nav>
</div>
